body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Make container a fixed size */
#container {
    border: 2px black solid;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.row {
    border: 1px black solid;
    display: flex;
    align-items: stretch;
    flex: auto;
}

.square {
    border: 1px black solid;
    flex: auto;
}
