/* Make container a fixed size */
#container {
    border: 1px black solid;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: stretch;
    flex-direction: column;    
}

.row {
    border: 1px black solid;
    display: flex;
    align-items: stretch;
    flex: auto;
}

.square {
    border: 1px black solid;
    flex: auto
}